body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

.mapboxgl-popup-content {
  padding: 1em;
  background-color: #fcfef0;
  color: #000;
  width: 300px;
  display: flex;
  justify-content: center;
}

.mapboxgl-popup-close-button {
  /* color: #fff; */
  display: none;
}
